@import '../../main.css';

.selected {
  background-color: #246972!important;
}

.selected > * {
  color: #fff !important;
}

.selected > *[slot='secondary'] {
  color: rgba(255,255,255, 0.7) !important;
}

.badge {
  display: inline-block;
  padding: .25em .5em;
  font-weight: bold;
  text-align: center;
  vertical-align: baseline;
  border-radius: 4px;
  font-size: 80%;
  flex: auto;
  color: #212121;
}
