@import '../../main.css';

div {
  width: 100%;
}

div.not.hidden > table {
  width: 100%;
  margin-top: 8px;
  border-spacing: 0;
}

.flex {
  width: 100%;
  justify-content: space-between;
}

mwc-textfield, mwc-textarea {
  width: calc(50% - 16px);
  margin: 16px 8px;
}

.smoll {
  width: calc(12% - 16px);
}

mwc-select {
  width: calc(38% - 16px);
  margin: 16px 8px;
}

.hidden {
  visibility: collapse;
  height: 0;
}

.hidden.not {
  visibility: visible;
  height: auto;
}

mwc-button.accordion-button {
  width: 100%;
}

mwc-button:not(.accordion-button) {
  margin: 24px;
}

td > mwc-textfield {
  width: calc(100% - 8px);
  margin: 8px 4px;
  --mdc-text-field-fill-color: rgba(0, 0, 0, 0.05);
}

th, td {
  /*border-bottom: 1px solid rgba(0, 0, 0, 0.12);*/
  border-collapse: collapse;
}

th {
  border-bottom: 2px solid rgba(0, 0, 0, 0.12);
}

tr:nth-child(2) > td {
  padding-top: 16px;
}

.flex.right {
  justify-content: flex-end;
}

.flex > mwc-button {
  margin: 0 2px;
}

.head {
  display: flex;
  margin: 16px 0;
  justify-content: space-between;
  align-content: center;
}

mwc-list-item {
  color: #22a39f;
}

.grey {
  color: rgba(0, 0, 0, 0.87)
}
