@import "../../main.css";

.btn > span.caret {
  margin: 0;
  vertical-align: auto;
}

img {
  vertical-align: text-bottom;
}

.right {
  justify-self: flex-end;
}

.flex > * {
  margin: 0 4px;
}
.flex > * > button {
  margin-right: 8px;
}
