@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v76/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

html {
  font-family: 'Roboto', sans-serif;
}

.red {
  background-color: #d82626;
}

.orange {
  background-color: #f0ad4e;
}

.green {
  background-color: #5fbca1;
}

.danger {
  color: #e53935;
  --mdc-theme-primary: #e53935;
}

.white {
  color: white;
}

mwc-button, mwc-list, mwc-list-item, mwc-select, mwc-textfield, mwc-textarea, mwc-menu {
  --mdc-theme-primary: #22a39f;
  --mdc-theme-secondary: #246972;
  --mdc-theme-error: #e53935;
  --mdc-theme-on-primary: white;
}

mwc-icon {
  color: #22a39f;
  font-size: 18px;
  align-self: baseline;
}

mwc-button {
  margin-left: 4px;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

input, textarea {
  padding: 12px 20px;
  margin: 2px 0 8px 0;
  border: 1px solid #ced4da;
  font-size: 100%;
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

[disabled] {
  background-color: #e9ecef;
  opacity: 1;
}

input[type=text]:focus, textarea:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
}
